/* add kalame font face */
@import url(font-face.css);

/* add tailwind directives  */
@import url(tailwind-directives.css);

/* tailwind custom layer */
@import url(tailwind-layer.css);

/* reset css default */
* {
  font-family: "kalame";
  margin: 0;
  padding: 0;
}
